!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }/
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
    %title Dean's Canvas

    %link{ :href => "stylesheets/site.css?v=1", :media => "all", :rel => "stylesheet" }/

  %body
    .image.pull-left
      %canvas#canvas
    .data.pull-left
      #picker.pull-left
        hi
      .actions.pull-left
        %select.imageSelect
          %option{:value=> "images/scan1.jpg"} Text
          %option{:value=> "images/kitten.png"} Cat
          %option{:value=> "images/flower.jpeg"} Flower
        %button#invert Invert
        %button#grayscale_average Grayscale By Average
        %button#grayscale_luminosity Grayscale By Luminosity
        %button#blur Smooth (3x3 Average)
        %button#colorSegment Segment by Color
        %button#segmentHorizontally Segment Horizontally
        %button#showNextSegment Show Next Segment
        %button#segment DO IT ALL!
        %button#restore Restore Original
      .clearfix
      #histogram
        %ul

      %canvas#lineCanvas
      %br
      %button#segmentVertical Segment Vertically
      %button#showNextCharacter Show Next Character
      %br
      %canvas#characterCanvas
      .clearfix
    #templates
      #histogramBar
        %li{:style => 'width: {{width}}px'}
          %p.emptySpace{:style => "height: {{whitespaceHeight}}px;"}
          %p.bar{:style => 'height: {{barHeight}}px;'}
            {{value}}

    =javascript_include_tag 'app'
